<div class="flex justify-between mt-4 space-x-4 s">
  <div class="bg-white w-1/3 rounded-xl shadow-lg flex items-center justify-around">
    <img src="https://i.imgur.com/VHc5SJE.png" alt="" />
    <div class="text-center">
      <h1 class="text-4xl font-bold text-gray-800">{{ countScripts }}</h1>
      <span class="text-gray-500">Scripts</span>
    </div>
  </div>
  <div class="bg-white w-1/3 rounded-xl shadow-lg flex items-center justify-around">
    <img src="https://i.imgur.com/Qnmqkil.png" alt="" />
    <div class="text-center">
      <h1 class="text-4xl font-bold text-gray-800">{{ countHints }}</h1>
      <span class="text-gray-500">Hints</span>
    </div>
  </div>
  <div class="bg-white w-1/3 rounded-xl shadow-lg flex items-center justify-around">
    <img src="https://i.imgur.com/dJeEVcO.png" alt="" />
    <div class="text-center">
      <h1 class="text-4xl font-bold text-gray-800">50 M</h1>
      <span class="text-gray-500">Revenue</span>
    </div>
  </div>
</div>

<div class="flex space-x-4">
  <div class="justify-between w-2/3 rounded-xl mt-4 p-4 bg-white shadow-lg">
    <h1 class="text-xl font-bold text-gray-800 mt-4">Create hint for script: <i>{{ scriptName }}</i></h1>
    <!-- flex justify-between -->
    <div class="flex">
      <div class="w-1/2">
        
        
          <form [formGroup]="form">
            <div class="space-y-3 text-sm">
              
              <div class="flex flex-row items-center">
                  <div class="flex flex-row items-center">
                    <label class="font-semibold mr-2 w-25 text-right">Script Name:</label>
                    <div class="flex flex-col">
                      <select formControlName="scriptid" (change)="onSelectChange()" class="outline-none  ng-untouched ng-pristine ng-invalid rounded-md">
                        <option *ngFor="let script of scripts" value={{script.id}}>
                          {{ script.name }}
                        </option>
                      </select>
                      <!-- <span *ngIf="scriptid.str && form.dirty" class="error" ></span> -->
                    </div>
                  </div>
              </div>
    
              <div class="flex flex-row items-center">
                <div class="flex flex-row items-center">
                  <label class="font-semibold mr-2 w-20 text-right">Hint Title:</label>
                  <div class="flex flex-col">
                    <input id="title" type="text" class="outline-none p-1 ng-untouched ng-pristine ng-invalid rounded-md" formControlName="title">
                    <span class="mt-1 text-xs text-red-600 font-semibold">Error</span>
                  </div>
                </div>
              </div>
    
              <div class="flex flex-row items-center">
                <div class="flex flex-row items-center">
                  <label class="font-semibold mr-2 w-20 text-right">Description:</label>
                  <div class="flex flex-col">
                    <textarea id="description" name="description" rows="3" class="outline-none p-1 ng-untouched ng-pristine ng-invalid rounded-md" formControlName="description"></textarea>
                    <span class="mt-1 text-xs text-red-600 font-semibold">Error</span>
                  </div>
                </div>
              </div>
                
              <div class="flex flex-row items-center">
                <div class="flex flex-row items-center">
                  <label class="font-semibold mr-2 w-20 text-right">Code:</label>
                  <div class="flex flex-col">
                    <textarea  id="code" rows="3" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-800 mt-1 block w-full sm:text-sm border border-gray-600 rounded-md" formControlName="code"></textarea>
                  </div>
                </div>
              </div>
                
            </div>
          </form>
        
       </div>

      <div class="w-1/2">
        <div class="font-semibold text-center">Script Code</div>
        <div class="bg-gray-400 rounded-md">
          <div *ngFor="let script of scriptCode" class="ml-5">
            {{ script }}
          </div>
        </div>  
      </div>
    </div>
    
    
    <div class="flex flex-row items-center mt-6 justify-around text-sm">
      <button (click)="onCancel()" class="text-indigo-700 bg-indigo-100 p-2">Cancel</button>
      <button *ngIf="!isUpdateActivated"
        (click)="onSubmit()"
        class="bg-indigo-600 text-white p-2"
      >
      <!-- {{
        form.valid ? 'cursor-pointer' : 'cursor-not-allowed'
      }} -->
        Submit
      </button>
      <button *ngIf="isUpdateActivated"
        (click)="onUpdate()"
        class="bg-indigo-600 text-white p-2"
      >
      <!-- {{
        form.valid ? 'cursor-pointer' : 'cursor-not-allowed'
      }} -->
        Update
      </button>
    </div>

  </div>
  
  <div class="justify-between w-1/3 rounded-xl mt-4 p-8 bg-white shadow-lg">
    <h1 class="text-xl font-bold text-gray-800">My Hints</h1>
    <ol class="list-decimal">
      <li *ngFor="let hint of hints">
        {{ hint.scriptname }}, {{ hint.title }},
        (<button (click)="onLoad(hint.id, hint.scriptid)" class="text-blue-600 visited:text-purple-600 hover:text-blue-900">Load</button>, 
        <button (click)="onDelete(hint)" class="text-blue-600 visited:text-purple-600 hover:text-blue-900">Delete</button>)
        <span *ngIf="hint.id===activeHintID" class="text-red-600">active</span>
      </li>
    </ol>
  </div>

</div>
